.build/
*.hex
*.elf
*.dfu
*.o
*.obj
*.exe
*.bin
*.pyc
inc/romfiles.h
*.swp
.sconf_temp/
.sconsign.dblite
config.log
.DS_Store
mux*
inc/git_version.h
*~
*.*~
core
*.map
cscope.files
cscope.in.out
cscope.out
cscope.po.out
